.mainProductos {
    @extend .contact
  }
  
  .productos {
    margin: 0px;
    @include props-flex(row,space-between,center);
    flex-wrap: wrap;
  }
  
  .carta img {
    height: 180px;
    width: 180px;
    border-radius: 7px;
  
    &:hover {
      -webkit-animation: rotate-center 0.9s ease-in-out both;
      animation: rotate-center 0.9s ease-in-out both;
    }
  }
  
  @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }